Repository s-panferov/tygen: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, prettier --ignore-path .prettierignore --write, prettier --write

.lintstagedrc:

{
  "verbose": false,
  "linters": {
    "*.{ts,tsx}": ["tslint", "prettier --ignore-path .prettierignore --write", "git add"],
    "*.{js,jsx}": ["tslint", "prettier --ignore-path .prettierignore --write", "git add"],
    "*.css": ["prettier --write", "git add"]
  }
}

docs: more readme
  README.md
Due: none

chore: add files spec
  packages/tygen-html/package.json
  packages/tygen-reflector/package.json
Due: none

chore: add public publish config
  packages/tygen-html/package.json
  packages/tygen-reflector/package.json
Due: none

chore: target
  packages/tygen-reflector/tsconfig.json
Due: none

feat: add basic accessor support
  packages/tygen-reflector/src/helpers.ts
  packages/tygen-reflector/src/reflection/property/index.ts
  packages/tygen-reflector/src/reflection/property/reflection.ts
  packages/tygen-reflector/src/reflection/visitor.ts
Due: tslint, prettier --ignore-path .prettierignore --write

fix: proper fix for accessors
  packages/tygen-reflector/src/reflection/visitor.ts
Due: tslint, prettier --ignore-path .prettierignore --write

Publish
  packages/tygen-html/CHANGELOG.md
  packages/tygen-html/package.json
  packages/tygen-reflector/CHANGELOG.md
  packages/tygen-reflector/package.json
Due: none

docs: update exec command
  README.md
Due: none

fix: parse `tsconfig.json` with TypeScript helpers, fixes #44
  packages/tygen-reflector/src/helpers.ts
  tsconfig.json
Due: tslint, prettier --ignore-path .prettierignore --write

refactor: update deps
  package.json
  packages/tygen-html/package.json
  packages/tygen-reflector/package.json
  packages/tygen-reflector/src/helpers.ts
  packages/tygen-reflector/src/reflection/signature/index.ts
  yarn.lock
Due: tslint, prettier --ignore-path .prettierignore --write

feat: add better markdown renderer
  packages/tygen-html/package.json
  packages/tygen-html/src/markdown/github.ts
  packages/tygen-html/src/markdown/index.ts
  packages/tygen-html/src/markdown/markdown-node.tsx
  packages/tygen-html/src/markdown/markdown-parser.tsx
  packages/tygen-html/src/markdown/markdown.css
  packages/tygen-html/src/markdown/markdown.tsx
  packages/tygen-html/src/markdown/mdast.ts
  packages/tygen-html/src/markdown/nodes/blockquote.tsx
  packages/tygen-html/src/markdown/nodes/code.tsx
  packages/tygen-html/src/markdown/nodes/delete.tsx
  packages/tygen-html/src/markdown/nodes/emphasis.tsx
  packages/tygen-html/src/markdown/nodes/footnote.tsx
  packages/tygen-html/src/markdown/nodes/heading.tsx
  packages/tygen-html/src/markdown/nodes/html.tsx
  packages/tygen-html/src/markdown/nodes/image.tsx
  packages/tygen-html/src/markdown/nodes/link.tsx
  packages/tygen-html/src/markdown/nodes/list.tsx
  packages/tygen-html/src/markdown/nodes/paragraph.tsx
  packages/tygen-html/src/markdown/nodes/root.tsx
  packages/tygen-html/src/markdown/nodes/strong.tsx
  packages/tygen-html/src/markdown/nodes/table.tsx
  packages/tygen-html/src/markdown/nodes/text.tsx
  packages/tygen-html/src/markdown/nodes/thematic-break.tsx
  packages/tygen-html/src/ui/markdown.tsx
  yarn.lock
Due: tslint, prettier --ignore-path .prettierignore --write, prettier --write

feat: better fonts
  packages/tygen-html/src/enum.tsx
  packages/tygen-html/src/html.ts
  packages/tygen-html/src/index-signatures.tsx
  packages/tygen-html/src/property.tsx
  packages/tygen-html/src/signature.tsx
  packages/tygen-html/src/type-alias.tsx
  packages/tygen-html/src/type/this.tsx
  packages/tygen-html/src/ui/item.tsx
  packages/tygen-html/src/ui/search.tsx
  packages/tygen-html/src/variable.tsx
  tsconfig.base.json
Due: tslint, prettier --ignore-path .prettierignore --write

fix: properly skip
  packages/tygen-reflector/src/reflection/inventory/index.ts
Due: tslint, prettier --ignore-path .prettierignore --write

feat: better look in some places
  packages/tygen-html/src/base-types.tsx
  packages/tygen-html/src/breadcrumb.tsx
  packages/tygen-html/src/comment.tsx
  packages/tygen-html/src/html.ts
  packages/tygen-html/src/inventory.tsx
  packages/tygen-html/src/method.tsx
  packages/tygen-html/src/property.tsx
  packages/tygen-html/src/type/intersection.tsx
  packages/tygen-html/src/types.d.ts
  packages/tygen-html/src/ui/foldable.tsx
  packages/tygen-html/src/ui/layout.tsx
  packages/tygen-html/src/ui/markdown.tsx
  packages/tygen-html/src/ui/packages.tsx
  packages/tygen-html/src/ui/section.tsx
  packages/tygen-reflector/package.json
  packages/tygen-reflector/src/cli.ts
  packages/tygen-reflector/src/context.ts
  packages/tygen-reflector/src/helpers.ts
  packages/tygen-reflector/src/test.ts
  packages/tygen-reflector/src/test/index.spec.ts
  packages/tygen-reflector/src/writer.ts
  yarn.lock
Due: tslint, prettier --ignore-path .prettierignore --write

refactor: reanimate the project, update deps
  package.json
  packages/tygen-html/package.json
  packages/tygen-reflector/package.json
  yarn.lock
Due: none

refactor: simplify linaria usage
  packages/tygen-html/src/base-types.tsx
  packages/tygen-html/src/breadcrumb.tsx
  packages/tygen-html/src/comment.tsx
  packages/tygen-html/src/enum.tsx
  packages/tygen-html/src/folder.tsx
  packages/tygen-html/src/html.ts
  packages/tygen-html/src/index-signatures.tsx
  packages/tygen-html/src/inventory.tsx
  packages/tygen-html/src/markdown/markdown.tsx
  packages/tygen-html/src/method.tsx
  packages/tygen-html/src/property.tsx
  packages/tygen-html/src/ref-link.tsx
  packages/tygen-html/src/signature.tsx
  packages/tygen-html/src/type-alias.tsx
  packages/tygen-html/src/type.tsx
  packages/tygen-html/src/type/conditional.tsx
  packages/tygen-html/src/type/index-type.tsx
  packages/tygen-html/src/type/indexed.tsx
  packages/tygen-html/src/type/intersection.tsx
  packages/tygen-html/src/type/mapped.tsx
  packages/tygen-html/src/type/object.tsx
  packages/tygen-html/src/type/symbol.tsx
  packages/tygen-html/src/type/this.tsx
  packages/tygen-html/src/type/tuple.tsx
  packages/tygen-html/src/type/type-parameter.tsx
  packages/tygen-html/src/type/type-reference.tsx
  packages/tygen-html/src/types.d.ts
  packages/tygen-html/src/ui/badge.tsx
  packages/tygen-html/src/ui/foldable.tsx
  packages/tygen-html/src/ui/item.tsx
  packages/tygen-html/src/ui/layout.tsx
  packages/tygen-html/src/ui/markdown.tsx
  packages/tygen-html/src/ui/nav.tsx
  packages/tygen-html/src/ui/packages.tsx
  packages/tygen-html/src/ui/search.tsx
  packages/tygen-html/src/ui/section.tsx
  packages/tygen-html/src/ui/toolbar.tsx
  packages/tygen-html/src/variable.tsx
  packages/tygen-html/src/view.tsx
Due: tslint, prettier --ignore-path .prettierignore --write

fix: TS3 type error
  packages/tygen-reflector/src/reflection/identifier.ts
Due: tslint, prettier --ignore-path .prettierignore --write

typo: spelling corrections for 'several', 'supported', 'guarantee', 'configuration'
  README.md
Due: none

feat: try stuctured logging
  examples/simple/index.d.ts
  examples/simple/package.json
  examples/simple/tsconfig.json
  examples/simple/yarn.lock
  packages/tygen-html/package.json
  packages/tygen-reflector/package.json
  packages/tygen-reflector/src/cli.ts
  packages/tygen-reflector/src/defines.d.ts
  packages/tygen-reflector/src/generator.ts
  packages/tygen-reflector/src/helpers.ts
  roarr.sh
  yarn.lock
Due: tslint, prettier --ignore-path .prettierignore --write

feat: hoist globals to package level, other improvements refs #48
  examples/simple/index.d.ts
  examples/simple/package.json
  examples/simple/src/defines.d.ts
  examples/simple/src/defines2.d.ts
  examples/simple/src/index.ts
  examples/simple/src/lib.d.ts
  examples/simple/tsconfig.json
  packages/tygen-html/tsconfig.json
  packages/tygen-reflector/package.json
  packages/tygen-reflector/src/cli.ts
  packages/tygen-reflector/src/context.ts
  packages/tygen-reflector/src/file.ts
  packages/tygen-reflector/src/generator.ts
  packages/tygen-reflector/src/helpers.ts
  packages/tygen-reflector/src/internal.d.ts
  packages/tygen-reflector/src/package.ts
  packages/tygen-reflector/src/reflection/identifier.ts
  packages/tygen-reflector/src/reflection/interface/index.ts
  packages/tygen-reflector/src/reflection/interface/reflection.ts
  packages/tygen-reflector/src/reflection/module/index.ts
  packages/tygen-reflector/src/reflection/module/reflection.ts
  packages/tygen-reflector/src/reflection/reflection.ts
  packages/tygen-reflector/src/reflection/visitor.ts
  packages/tygen-reflector/tsconfig.json
Due: tslint, prettier --ignore-path .prettierignore --write

feat: hoist globals and exports from main to a package level, refs #48, #46
  .prettierrc
  examples/simple/src/defines.d.ts
  examples/simple/src/defines2.d.ts
  packages/tygen-reflector/src/context.ts
  packages/tygen-reflector/src/generator.ts
  packages/tygen-reflector/src/package.ts
  packages/tygen-reflector/src/reflection/identifier.ts
  packages/tygen-reflector/src/reflection/module/index.ts
  packages/tygen-reflector/src/reflection/package.ts
  packages/tygen-reflector/src/reflection/reflection.ts
Due: tslint, prettier --ignore-path .prettierignore --write

Create LICENSE
  LICENSE
Due: none

refactor: add tests support
  packages/tygen-reflector/jest.config.js
  packages/tygen-reflector/package.json
  packages/tygen-reflector/src/helpers.ts
  packages/tygen-reflector/src/index.ts
  packages/tygen-reflector/src/package.ts
  packages/tygen-reflector/src/reflection/_type/reflection.ts
  packages/tygen-reflector/src/reflection/reflection.ts
  packages/tygen-reflector/src/reflection/signature/reflection.ts
  packages/tygen-reflector/src/reflection/visitor.ts
  packages/tygen-reflector/src/test-utils.ts
  packages/tygen-reflector/src/writer.ts
  packages/tygen-reflector/tests/pkg1/index.spec.ts
  packages/tygen-reflector/tests/pkg1/package/index.ts
  packages/tygen-reflector/tests/pkg1/package/lib.d.ts
  packages/tygen-reflector/tests/pkg1/package/package.json
  packages/tygen-reflector/tests/pkg1/package/tsconfig.json
  yarn.lock
Due: tslint, prettier --ignore-path .prettierignore --write

feat: support new reflections in renderer
  packages/tygen-html/src/module.tsx
  packages/tygen-html/src/not-included.tsx
  packages/tygen-html/src/render.tsx
  packages/tygen-html/src/type.tsx
  packages/tygen-reflector/src/reflection/index.ts
  packages/tygen-reflector/src/writer.ts
Due: tslint, prettier --ignore-path .prettierignore --write

feat: [wip] start prettier experiment
  package.json
  packages/tygen-html/package.json
  packages/tygen-html/src/prettier.tsx
  packages/tygen-html/src/unescape.js
  packages/tygen-html/src/variable.tsx
  packages/tygen-html/tsconfig.json
  packages/tygen-html/webpack.config.js
  yarn.lock
Due: tslint, prettier --ignore-path .prettierignore --write

feat: prettier experiment works
  packages/tygen-html/package.json
  packages/tygen-html/src/prettier.tsx
  packages/tygen-html/src/variable.tsx
Due: tslint, prettier --ignore-path .prettierignore --write

refactor: remove unused module
  packages/tygen-html/src/unescape.js
Due: tslint, prettier --ignore-path .prettierignore --write

refactor: webpack and new linaria
  package.json
  packages/tygen-html/.babelrc
  packages/tygen-html/package.json
  packages/tygen-html/src/body.tsx
  packages/tygen-html/src/group.tsx
  packages/tygen-html/src/html.ts
  packages/tygen-html/src/index.tsx
  packages/tygen-html/src/markdown/markdown.css
  packages/tygen-html/src/markdown/markdown.tsx
  packages/tygen-html/src/prettier.tsx
  packages/tygen-html/src/property.tsx
  packages/tygen-html/src/ref-link.tsx
  packages/tygen-html/src/render.tsx
  packages/tygen-html/src/server.ts
  packages/tygen-html/src/type.tsx
  packages/tygen-html/src/type/intersection.tsx
  packages/tygen-html/src/types.d.ts
  packages/tygen-html/src/ui/badge.tsx
  packages/tygen-html/src/ui/foldable.tsx
  packages/tygen-html/src/ui/layout.tsx
  packages/tygen-html/src/ui/search.tsx
  packages/tygen-html/src/ui/section.tsx
  packages/tygen-html/src/variable.tsx
  packages/tygen-html/tsconfig.json
  packages/tygen-html/webpack.client.js
  packages/tygen-html/webpack.common.js
  packages/tygen-html/webpack.config.js
  packages/tygen-html/webpack.server.js
  packages/tygen-reflector/src/internal.d.ts
  packages/tygen-reflector/src/reflection/_type/this/reflection.ts
  packages/tygen-reflector/src/writer.ts
  packages/tygen-reflector/tsconfig.json
  tsconfig.base.json
  tsconfig.json
  yarn.lock
Due: tslint, prettier --ignore-path .prettierignore --write, prettier --write

refactor: some tweaks to webpack
  README.md
  package.json
  packages/tygen-html/package.json
  packages/tygen-html/src/cli.ts
  packages/tygen-html/src/client.tsx
  packages/tygen-html/src/converter.tsx
  packages/tygen-html/src/index.tsx
  packages/tygen-html/src/server.ts
  packages/tygen-html/webpack.client.js
  packages/tygen-html/webpack.common.js
  packages/tygen-html/webpack.server.js
  yarn.lock
Due: tslint, prettier --ignore-path .prettierignore --write

Update README.md
  README.md
Due: none

feat: icon and layout experiments
  packages/tygen-html/asset/tsd.css
  packages/tygen-html/asset/tsd.svg
  packages/tygen-html/package.json
  packages/tygen-html/src/body.tsx
  packages/tygen-html/src/breadcrumb.tsx
  packages/tygen-html/src/html.ts
  packages/tygen-html/src/package.tsx
  packages/tygen-html/src/types.d.ts
  packages/tygen-html/src/ui/badge.tsx
  packages/tygen-html/src/ui/foldable.tsx
  packages/tygen-html/src/ui/layout.tsx
  packages/tygen-html/webpack.common.js
  packages/tygen-html/webpack.server.js
  yarn.lock
Due: tslint, prettier --ignore-path .prettierignore --write, prettier --write

feat: structure tree with filtering and virtualization
  examples/simple/README.md
  jest.config.js
  package.json
  packages/tygen-html/.babelrc
  packages/tygen-html/package.json
  packages/tygen-html/src/body.tsx
  packages/tygen-html/src/package.tsx
  packages/tygen-html/src/ref-link.tsx
  packages/tygen-html/src/structure.tsx
  packages/tygen-html/src/tree.spec.ts
  packages/tygen-html/src/tree.ts
  packages/tygen-html/src/types.d.ts
  packages/tygen-html/src/ui/icon.tsx
  packages/tygen-html/src/ui/layout.tsx
  packages/tygen-html/src/ui/markdown.tsx
  packages/tygen-html/src/ui/nav.tsx
  packages/tygen-html/src/ui/outline.tsx
  packages/tygen-html/src/ui/search.tsx
  packages/tygen-html/src/ui/toolbar.tsx
  packages/tygen-reflector/package.json
  packages/tygen-reflector/src/index.ts
  packages/tygen-reflector/src/reflection/package.ts
  packages/tygen-reflector/src/runtime.ts
  tsconfig.json
  yarn.lock
Due: tslint, prettier --ignore-path .prettierignore --write

feat: keyboard navigation
  packages/tygen-html/src/package.tsx
  packages/tygen-html/src/structure.tsx
  packages/tygen-html/src/tree.ts
  packages/tygen-html/src/ui/layout.tsx
Due: tslint, prettier --ignore-path .prettierignore --write

feat: refactor, nav
  package.json
  packages/tygen-html/src/converter.tsx
  packages/tygen-html/src/enum.tsx
  packages/tygen-html/src/folder.tsx
  packages/tygen-html/src/function.tsx
  packages/tygen-html/src/interface.tsx
  packages/tygen-html/src/inventory.tsx
  packages/tygen-html/src/module.tsx
  packages/tygen-html/src/package.tsx
  packages/tygen-html/src/tree.spec.ts
  packages/tygen-html/src/type-alias.tsx
  packages/tygen-html/src/ui/header.tsx
  packages/tygen-html/src/ui/layout.tsx
  packages/tygen-html/src/ui/search.tsx
  packages/tygen-html/src/ui/structure.tsx
  packages/tygen-html/src/ui/tree.ts
  packages/tygen-html/src/variable.tsx
  packages/tygen-html/tsconfig.json
  packages/tygen-reflector/package.json
  packages/tygen-reflector/src/reflection/package.ts
  packages/tygen-reflector/src/reflection/reflection.ts
  packages/tygen-reflector/tsconfig.json
  tsconfig.base.json
  yarn.lock
Due: tslint, prettier --ignore-path .prettierignore --write

refactor: update deps, implement HMR for server code
  package.json
  packages/tygen-html/package.json
  packages/tygen-html/src/breadcrumb.tsx
  packages/tygen-html/src/cli.ts
  packages/tygen-html/src/inventory.tsx
  packages/tygen-html/src/module.tsx
  packages/tygen-html/src/ui/layout.tsx
  packages/tygen-html/src/ui/structure.tsx
  packages/tygen-html/src/view.tsx
  packages/tygen-html/webpack.common.js
  packages/tygen-html/webpack.server.js
  tsconfig.base.json
  yarn.lock
Due: tslint, prettier --ignore-path .prettierignore --write

feat: rework tree, rework inventory with the tree
  packages/tygen-html/.babelrc
  packages/tygen-html/package.json
  packages/tygen-html/src/exports.tsx
  packages/tygen-html/src/group.tsx
  packages/tygen-html/src/inventory.tsx
  packages/tygen-html/src/module.tsx
  packages/tygen-html/src/package.tsx
  packages/tygen-html/src/ref-link.tsx
  packages/tygen-html/src/ui/icon.tsx
  packages/tygen-html/src/ui/layout.tsx
  packages/tygen-html/src/ui/outline.tsx
  packages/tygen-html/src/ui/packages.tsx
  packages/tygen-html/src/ui/sidebar.tsx
  packages/tygen-html/src/ui/structure.tsx
  packages/tygen-html/src/ui/tree-render.tsx
  packages/tygen-html/src/ui/tree.ts
  packages/tygen-html/webpack.common.js
  yarn.lock
Due: tslint, prettier --ignore-path .prettierignore --write

chore: tsconfig
  packages/tygen-reflector/tsconfig.json
Due: none
