Repository s-panferov/tygen: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, prettier --ignore-path .prettierignore --write, prettier --write

.lintstagedrc:

{
  "verbose": false,
  "linters": {
    "*.{ts,tsx}": ["tslint", "prettier --ignore-path .prettierignore --write", "git add"],
    "*.{js,jsx}": ["tslint", "prettier --ignore-path .prettierignore --write", "git add"],
    "*.css": ["prettier --write", "git add"]
  }
}

refactor: finally typecheck something (-_O)
  package.json
  packages/tygen-html/package.json
  packages/tygen-html/src/inventory.tsx
  packages/tygen-html/src/pre/index-signatures.tsx
  packages/tygen-html/src/pre/index.tsx
  packages/tygen-html/src/pre/interface.tsx
  packages/tygen-html/src/pre/method.tsx
  packages/tygen-html/src/pre/property.tsx
  packages/tygen-html/src/pre/signature.tsx
  packages/tygen-html/src/pre/type-alias.tsx
  packages/tygen-html/src/pre/type-parameters.tsx
  packages/tygen-html/src/pre/type/conditional.tsx
  packages/tygen-html/src/pre/type/index-type.tsx
  packages/tygen-html/src/pre/type/index.tsx
  packages/tygen-html/src/pre/type/indexed.tsx
  packages/tygen-html/src/pre/type/intersection.tsx
  packages/tygen-html/src/pre/type/mapped.tsx
  packages/tygen-html/src/pre/type/object.tsx
  packages/tygen-html/src/pre/type/tuple.tsx
  packages/tygen-html/src/pre/type/type-arguments.tsx
  packages/tygen-html/src/pre/type/type-reference.tsx
  packages/tygen-html/src/pre/variable.tsx
  packages/tygen-html/src/ui/packages.tsx
  packages/tygen-html/src/ui/search.tsx
  packages/tygen-html/tsconfig.json
  packages/tygen-html/webpack.common.js
  packages/tygen-reflector/package.json
  tsconfig.base.json
  tsconfig.json
  yarn.lock
Due: tslint, prettier --ignore-path .prettierignore --write

strip " for windows #46
  packages/tygen-reflector/src/writer.ts
Due: tslint, prettier --ignore-path .prettierignore --write

feat: make it possible to compile typescript's lib files
  examples/simple/src/lib.d.ts
  examples/simple/tsconfig.json
  packages/tygen-html/.babelrc
  packages/tygen-html/package.json
  packages/tygen-html/src/cli.ts
  packages/tygen-html/src/group.tsx
  packages/tygen-html/src/html.ts
  packages/tygen-html/src/not-included.tsx
  packages/tygen-html/src/package.tsx
  packages/tygen-html/src/pre/index.tsx
  packages/tygen-html/src/pre/not-included.tsx
  packages/tygen-html/src/pre/property.tsx
  packages/tygen-html/src/pre/signature.tsx
  packages/tygen-html/src/pre/type/object.tsx
  packages/tygen-html/src/pre/variable.tsx
  packages/tygen-html/src/ref-link.tsx
  packages/tygen-html/src/server.ts
  packages/tygen-html/src/variable.tsx
  packages/tygen-html/webpack.common.js
  packages/tygen-html/webpack.server.js
  packages/tygen-reflector/package.json
  packages/tygen-reflector/src/cli.ts
  packages/tygen-reflector/src/context.ts
  packages/tygen-reflector/src/file.ts
  packages/tygen-reflector/src/generator.ts
  packages/tygen-reflector/src/helpers.ts
  packages/tygen-reflector/src/options.ts
  packages/tygen-reflector/src/package.ts
  packages/tygen-reflector/src/reflection/_type/index.ts
  packages/tygen-reflector/src/reflection/function/index.ts
  packages/tygen-reflector/src/reflection/identifier.ts
  packages/tygen-reflector/src/reflection/interface/index.ts
  packages/tygen-reflector/src/reflection/property/index.ts
  packages/tygen-reflector/src/reflection/property/reflection.ts
  packages/tygen-reflector/src/reflection/reflection.ts
  packages/tygen-reflector/src/reflection/signature/index.ts
  packages/tygen-reflector/src/reflection/visitor.ts
  packages/tygen-reflector/src/writer.ts
  packages/tygen-reflector/tsconfig.json
  yarn.lock
Due: tslint, prettier --ignore-path .prettierignore --write

refactor: name from declaration
  packages/tygen-reflector/src/reflection/function/index.ts
  packages/tygen-reflector/src/reflection/property/index.ts
Due: tslint, prettier --ignore-path .prettierignore --write

feat: add missing pages for function, enum and type-alias
  packages/tygen-html/src/breadcrumb.tsx
  packages/tygen-html/src/enum.tsx
  packages/tygen-html/src/function.tsx
  packages/tygen-html/src/pre/function.tsx
  packages/tygen-html/src/pre/type/mapped.tsx
  packages/tygen-html/src/ref-link.tsx
  packages/tygen-html/src/type-alias.tsx
  packages/tygen-reflector/src/reflection/identifier.ts
Due: tslint, prettier --ignore-path .prettierignore --write

docs: update readme
  README.md
Due: none

docs: add patreon button
  README.md
Due: none

feat: refactor styles, better handling of excluded items
  README.md
  examples/simple/src/index.ts
  packages/tygen-html/package.json
  packages/tygen-html/src/body.tsx
  packages/tygen-html/src/breadcrumb.tsx
  packages/tygen-html/src/comment.tsx
  packages/tygen-html/src/group.tsx
  packages/tygen-html/src/html.ts
  packages/tygen-html/src/index.tsx
  packages/tygen-html/src/markdown/markdown.tsx
  packages/tygen-html/src/pre/interface.tsx
  packages/tygen-html/src/pre/not-included.tsx
  packages/tygen-html/src/pre/prettier.tsx
  packages/tygen-html/src/render.tsx
  packages/tygen-html/src/theme/body.tsx
  packages/tygen-html/src/theme/color.ts
  packages/tygen-html/src/theme/markdown.ts
  packages/tygen-html/src/theme/variables.d.ts
  packages/tygen-html/src/theme/variables.js
  packages/tygen-html/src/ui/item.tsx
  packages/tygen-html/src/ui/search.tsx
  packages/tygen-html/src/ui/section.tsx
  packages/tygen-reflector/src/context.ts
  packages/tygen-reflector/src/reflection/_type/index.ts
  packages/tygen-reflector/src/reflection/interface/index.ts
  packages/tygen-reflector/src/reflection/inventory/index.ts
  packages/tygen-reflector/src/reflection/inventory/reflection.ts
  packages/tygen-reflector/src/reflection/reflection.ts
  packages/tygen-reflector/src/reflection/signature/index.ts
  packages/tygen-reflector/src/reflection/type-alias/index.ts
  packages/tygen-reflector/src/reflection/type-parameter/index.ts
  packages/tygen-reflector/src/reflection/visitor.ts
  packages/tygen-reflector/src/writer.ts
  yarn.lock
Due: tslint, prettier --ignore-path .prettierignore --write

feat: add `--always-link` option
  packages/tygen-reflector/src/cli.ts
  packages/tygen-reflector/src/context.ts
  packages/tygen-reflector/src/options.ts
Due: tslint, prettier --ignore-path .prettierignore --write

docs: prepare donation request
  README.md
Due: none

docs: gitter badge
  README.md
Due: none

fix: type-alias reflection
  packages/tygen-html/src/pre/type-alias.tsx
  packages/tygen-html/src/pre/type/type-arguments.tsx
Due: tslint, prettier --ignore-path .prettierignore --write

feat: prepare to publish demo projects
  packages/tygen-html/asset/bd3856815f555ae3a2c96faef103b5b9.png
  packages/tygen-html/package.json
  packages/tygen-html/src/breadcrumb.tsx
  packages/tygen-html/src/cli.ts
  packages/tygen-html/src/converter.tsx
  packages/tygen-html/src/exports.tsx
  packages/tygen-html/src/group.tsx
  packages/tygen-html/src/helpers.ts
  packages/tygen-html/src/html.ts
  packages/tygen-html/src/inventory.tsx
  packages/tygen-html/src/module.tsx
  packages/tygen-html/src/package.tsx
  packages/tygen-html/src/pre/function.tsx
  packages/tygen-html/src/pre/index-signatures.tsx
  packages/tygen-html/src/ref-link.tsx
  packages/tygen-html/src/structure.tsx
  packages/tygen-html/src/ui/header.tsx
  packages/tygen-html/src/ui/sidebar.tsx
  packages/tygen-html/webpack.client.js
  packages/tygen-html/webpack.common.js
  packages/tygen-html/webpack.server.js
  packages/tygen-reflector/src/cli.ts
  packages/tygen-reflector/src/context.ts
  packages/tygen-reflector/src/package.ts
  packages/tygen-reflector/src/reflection/_type/index.ts
  packages/tygen-reflector/src/reflection/_type/reference/index.ts
  packages/tygen-reflector/src/reflection/_type/reflection.ts
  packages/tygen-reflector/src/reflection/_type/substitution/index.ts
  packages/tygen-reflector/src/reflection/_type/substitution/reflection.ts
  packages/tygen-reflector/src/reflection/_type/this/index.ts
  packages/tygen-reflector/src/reflection/module/index.ts
  packages/tygen-reflector/src/reflection/property/index.ts
  packages/tygen-reflector/src/reflection/reflection.ts
  packages/tygen-reflector/src/reflection/signature/index.ts
  packages/tygen-reflector/src/reflection/utils.ts
  packages/tygen-reflector/src/writer.ts
  yarn.lock
Due: tslint, prettier --ignore-path .prettierignore --write

fix: some navigation problems, search
  packages/tygen-html/src/breadcrumb.tsx
  packages/tygen-html/src/inventory.tsx
  packages/tygen-html/src/ref-link.tsx
  packages/tygen-html/src/ui/header.tsx
  packages/tygen-html/src/ui/search.tsx
  packages/tygen-html/src/ui/tree-render.tsx
  packages/tygen-reflector/src/cli.ts
  packages/tygen-reflector/src/context.ts
  packages/tygen-reflector/src/generator.ts
  packages/tygen-reflector/src/options.ts
  packages/tygen-reflector/src/reflection/search/reflection.ts
  packages/tygen-reflector/src/writer.ts
Due: tslint, prettier --ignore-path .prettierignore --write

fix: generation errors with enums
  packages/tygen-html/src/pre/enum.tsx
  packages/tygen-html/src/pre/index-signatures.tsx
  packages/tygen-reflector/src/context.ts
  packages/tygen-reflector/src/helpers.ts
  packages/tygen-reflector/src/reflection/identifier.ts
  packages/tygen-reflector/src/reflection/visitor.ts
  packages/tygen-reflector/tsconfig.json
Due: tslint, prettier --ignore-path .prettierignore --write

chore: allow to configure port
  packages/tygen-html/src/cli.ts
Due: tslint, prettier --ignore-path .prettierignore --write

docs: example output
  README.md
Due: none

fix: properly fill the space
  packages/tygen-html/src/ui/tree-render.tsx
Due: tslint, prettier --ignore-path .prettierignore --write

fix: a couple of bugfixes
  packages/tygen-html/asset/tsd.css
  packages/tygen-html/src/breadcrumb.tsx
  packages/tygen-html/src/html.ts
  packages/tygen-html/src/inventory.tsx
  packages/tygen-html/src/pre/function.tsx
  packages/tygen-html/src/pre/index-signatures.tsx
  packages/tygen-html/src/ui/icon.tsx
  packages/tygen-html/src/ui/tree-render.tsx
  packages/tygen-reflector/src/reflection/identifier.ts
Due: tslint, prettier --ignore-path .prettierignore --write, prettier --write

fix: server width
  packages/tygen-html/src/ui/tree-render.tsx
Due: tslint, prettier --ignore-path .prettierignore --write

chore: travis
  .travis.yml
  package.json
Due: none

chore: travis
  README.md
Due: none

feat: output hierarchy on a package level
  packages/tygen-html/src/module.tsx
  packages/tygen-html/src/package.tsx
  packages/tygen-html/src/structure.tsx
Due: tslint, prettier --ignore-path .prettierignore --write

refactor: support [contenthash] in generated asset names, GA refs #56 #61
  package.json
  packages/tygen-html/asset/bd3856815f555ae3a2c96faef103b5b9.png
  packages/tygen-html/package.json
  packages/tygen-html/src/cli.ts
  packages/tygen-html/src/converter.tsx
  packages/tygen-html/src/html.ts
  packages/tygen-html/src/pre/function.tsx
  packages/tygen-html/src/pre/signature.tsx
  packages/tygen-html/src/server.ts
  packages/tygen-html/src/settings.ts
  packages/tygen-html/src/view.tsx
  packages/tygen-html/tsconfig.json
  packages/tygen-html/webpack.client.js
  packages/tygen-html/webpack.common.js
  packages/tygen-html/webpack.server.js
  packages/tygen-reflector/package.json
  packages/tygen-reflector/runtime.d.ts
  packages/tygen-reflector/runtime.js
  packages/tygen-reflector/src/cli.ts
  packages/tygen-reflector/src/converter.ts
  packages/tygen-reflector/tsconfig.json
  yarn.lock
Due: tslint, prettier --ignore-path .prettierignore --write

fix: ignore namespace for now
  packages/tygen-html/src/breadcrumb.tsx
  packages/tygen-html/src/folder.tsx
  packages/tygen-html/src/package.tsx
  packages/tygen-reflector/src/package.ts
  packages/tygen-reflector/src/reflection/identifier.ts
  packages/tygen-reflector/src/reflection/visitor.ts
Due: tslint, prettier --ignore-path .prettierignore --write

chore: bump typescript
  packages/tygen-reflector/package.json
  yarn.lock
Due: none

feat: more writer features
  lerna.json
  packages/tygen-reflector/src/cli.ts
  packages/tygen-reflector/src/generator.ts
  packages/tygen-reflector/src/helpers.ts
  packages/tygen-reflector/src/package.ts
  packages/tygen-reflector/src/reflection/reflection.ts
  packages/tygen-reflector/src/version.ts
  packages/tygen-reflector/src/writer.ts
Due: tslint, prettier --ignore-path .prettierignore --write

feat: better package reflections
  packages/tygen-reflector/src/cli.ts
  packages/tygen-reflector/src/context.ts
  packages/tygen-reflector/src/helpers.ts
  packages/tygen-reflector/src/reflection/utils.ts
  packages/tygen-reflector/src/runtime.ts
Due: tslint, prettier --ignore-path .prettierignore --write

feat: improve TypeParameters reflection, other reflection improvements
  packages/tygen-html/package.json
  packages/tygen-html/src/cli.ts
  packages/tygen-html/src/comment.tsx
  packages/tygen-html/src/html.ts
  packages/tygen-html/src/inventory.tsx
  packages/tygen-html/src/pre/type/type-parameter.tsx
  packages/tygen-html/src/render.tsx
  packages/tygen-html/src/server.ts
  packages/tygen-html/src/settings.ts
  packages/tygen-html/src/ui/tree-render.tsx
  packages/tygen-html/src/ui/tree.ts
  packages/tygen-html/src/utils/payload.ts
  packages/tygen-html/src/utils/promise.ts
  packages/tygen-reflector/src/cli.ts
  packages/tygen-reflector/src/context.ts
  packages/tygen-reflector/src/reflection/identifier.ts
  packages/tygen-reflector/src/reflection/interface/index.ts
  packages/tygen-reflector/src/reflection/inventory/index.ts
  packages/tygen-reflector/src/reflection/search/reflection.ts
  packages/tygen-reflector/src/reflection/signature/index.ts
  packages/tygen-reflector/src/reflection/type-parameter/index.ts
  packages/tygen-reflector/src/reflection/type-parameter/reflection.ts
  packages/tygen-reflector/src/writer.ts
  tsconfig.base.json
  yarn.lock
Due: tslint, prettier --ignore-path .prettierignore --write

feat: handle ? in parameters, render signatures
  packages/tygen-html/src/comment.tsx
  packages/tygen-html/src/inventory.tsx
  packages/tygen-html/src/package.tsx
  packages/tygen-html/src/pre/call-signatures.tsx
  packages/tygen-html/src/pre/function.tsx
  packages/tygen-html/src/pre/index-signatures.tsx
  packages/tygen-html/src/pre/interface.tsx
  packages/tygen-html/src/pre/method.tsx
  packages/tygen-html/src/pre/property.tsx
  packages/tygen-html/src/pre/signature.tsx
  packages/tygen-html/src/pre/type/object.tsx
  packages/tygen-html/src/ref-link.tsx
  packages/tygen-html/src/settings.ts
  packages/tygen-html/src/structure.tsx
  packages/tygen-html/src/ui/search.tsx
  packages/tygen-html/src/ui/tree-render.tsx
  packages/tygen-html/src/ui/tree.ts
  packages/tygen-reflector/src/reflection/property/index.ts
  packages/tygen-reflector/src/reflection/property/reflection.ts
Due: tslint, prettier --ignore-path .prettierignore --write

fix: readme crash
  packages/tygen-html/src/html.ts
  packages/tygen-html/src/index.tsx
  packages/tygen-html/src/package.tsx
  packages/tygen-reflector/src/package.ts
Due: tslint, prettier --ignore-path .prettierignore --write

fix: search
  packages/tygen-html/src/html.ts
  packages/tygen-html/src/index.tsx
Due: tslint, prettier --ignore-path .prettierignore --write

feat: discussion
  packages/tygen-html/src/ui/header.tsx
Due: tslint, prettier --ignore-path .prettierignore --write

fix: move ways to get a declaration file
  packages/tygen-reflector/src/helpers.ts
Due: tslint, prettier --ignore-path .prettierignore --write

feat: some reflection improvements
  examples/simple/src/defines.d.ts
  examples/simple/src/defines2.d.ts
  examples/simple/src/index.ts
  examples/simple/src/lib.d.ts
  package.json
  packages/tygen-html/src/enum.tsx
  packages/tygen-html/src/folder.tsx
  packages/tygen-html/src/function.tsx
  packages/tygen-html/src/interface.tsx
  packages/tygen-html/src/module.tsx
  packages/tygen-html/src/pre/function.tsx
  packages/tygen-html/src/pre/interface.tsx
  packages/tygen-html/src/pre/method.tsx
  packages/tygen-html/src/pre/property.tsx
  packages/tygen-html/src/pre/signature.tsx
  packages/tygen-html/src/pre/type/object.tsx
  packages/tygen-html/src/pre/variable.tsx
  packages/tygen-html/src/type-alias.tsx
  packages/tygen-html/src/variable.tsx
  packages/tygen-reflector/package.json
  packages/tygen-reflector/src/helpers.ts
  packages/tygen-reflector/src/package.ts
  packages/tygen-reflector/src/reflection/_type/reference/index.ts
  packages/tygen-reflector/src/reflection/class/index.ts
  packages/tygen-reflector/src/reflection/class/reflection.ts
  packages/tygen-reflector/src/reflection/function/index.ts
  packages/tygen-reflector/src/reflection/interface/index.ts
  packages/tygen-reflector/src/reflection/interface/reflection.ts
  packages/tygen-reflector/src/reflection/module/index.ts
  packages/tygen-reflector/src/reflection/package.ts
  packages/tygen-reflector/src/reflection/property/index.ts
  packages/tygen-reflector/src/reflection/property/reflection.ts
  packages/tygen-reflector/src/reflection/signature/index.ts
  packages/tygen-reflector/src/reflection/signature/reflection.ts
  packages/tygen-reflector/src/reflection/variable/index.ts
  packages/tygen-reflector/src/reflection/variable/reflection.ts
  yarn.lock
Due: tslint, prettier --ignore-path .prettierignore --write

fix: build @types/ packages without any questions
  packages/tygen-reflector/src/helpers.ts
Due: tslint, prettier --ignore-path .prettierignore --write
